.form {
    display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: tomato ;
      background-color: transparent;
      color:slategray;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
}